/* Секция про Кауфмана с таблицей на темном фоне и треугольником */
.kaufman {
  width: 100%;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: white;
}
