.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color:  #f2f2f2;
}

/* Логотип Яндекс.Практикум */
.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* Заголовок Научиться учиться */
.header__title {
  width: 730px;
  position: relative;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  z-index: 2;
}
.title_place_header {
  left: 64px;
}

/* Текст с кнопкой Узнать */
.header__subtitle {
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
}
.subtitle_place_header {
  left: 64px;
  bottom: 30px;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
}

/* Картина Опять двойка */
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

/* Синий квадрат */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* Обертка для текста и заголовка */
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* Заголовок слева*/
.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

/* Текст справа */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
.two-columns__accent {
  font-weight: 600;
}

/* Обертка для серкции с таблицей */
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

/* Таблица на светлом фоне */
.table {
  width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
}
.margin {
  margin-bottom: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.feynman {
  min-height: 890px;
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  width: 646px;
  margin: 0 auto 70px;

}

.title__text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  color:#2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  position: absolute;

}
.link_place_feynman {
  right: 40px;
  top: 50%;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman {
  width: 100%;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -200px;
  z-index: 0;
}

/* Подвал */
.footer {
  background-color:#1f1f1f;
  display: flex;
  flex-basis: 771px;
  min-height: 350px;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Правая часть с логотипом и автором */
.footer__column_copyright {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.logo_place_footer {
  align-content:flex-end;
}

.footer_author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Левая часть со ссылками */
.footer__column-heading {
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
}

.column-link__text {
  text-decoration: none;
  color: white;
}
